<div class="row">
    <div class="col s12 n10 offset-m1 l8 offset-l2">
        <div class="card">
            <div class="card-image">
                <img src="https://user-images.githubusercontent.com/42922067/170994302-a091f6e4-1d2f-4bad-9547-561cfc7633ea.svg" alt="blue print image">
                <span class="card-title">
                    Registar Proyecto
                </span>
            </div>
            <form autocomplete="off" action="/projects/add" method="POST">
            <div class="car-content">
                <div class="input-field">
                    <label for="project-name">
                        Nombre del Projecto
                    </label>
                    <input 
                    placeholder="Ingrese el nombre del projecto"
                    type="text"
                    id="project-name"
                    name="name"
                    class="validate"
                    >
                </div>
                <div class="input-field">
                    <label for="project-description">
                        Descripcion del projecto
                    </label>
                    <textarea name="description" id="project-description" class="materialize-textarea">

                    </textarea>
                </div>
                <div class="card-action">
                    <button type="submit" class="blue darken-3 waves-effect waves-ligth btn">
                        <i class="material-icons left">note_add</i>Registrar
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>